# -----------------------------------------------------------------
# .gitignore for WordPress ASP Productions
# ver 0.1
#

# Blacklist

*
**.DS_Store

local/www/wp-content/themes/*
local/www/wp-content/themes/twentyfifteen
local/www/wp-content/themes/twentyseventeen
local/www/wp-content/themes/twentysixteen

# Whitelist
!local/www/wp-content/themes/asp
!local/www/wp-content/themes/kuhn
